# **Python List/Array Methods**

append()	Agrega un elemento al final de la lista

In [ ]:
#lista normal
lista_Supermercado = ["Arroz"]

print(lista_Supermercado)

lista_Supermercado.append ("Leche")

print(lista_Supermercado)

lista_Supermercado.append ("Huevos")

print(lista_Supermercado)
lista_Supermercado.append ("Pan")

print(lista_Supermercado)

['Arroz']
['Arroz', 'Leche']
['Arroz', 'Leche', 'Huevos']
['Arroz', 'Leche', 'Huevos', 'Pan']

clear() Elimina todos los elementos de la lista

In [ ]:
lista_Utiles = ["Cuaderno", "Lapiz", "Borrador"]
print(lista_Utiles)
lista_Utiles.clear()
print(lista_Utiles)

colores = ["rojo", "amarillo", "verde"]
print(colores)
colores.clear()
print(colores)

Tussi = ["keta", "Pilas", "Acidos"]
print(Tussi)
Tussi.clear()
print(Tussi)

['Cuaderno', 'Lapiz', 'Borrador']
[]
['rojo', 'amarillo', 'verde']
[]
['keta', 'Pilas', 'Acidos']
[]

copy() Devuelve una copia de la lista

In [ ]:
colores = ["rojo", "verde", "azul"]
colores_copia = colores.copy()
colores.clear()
print("Lista original:", colores)
print("Copia de la lista:", colores_copia)

lista_Utiles = ["Cuaderno", "Lapiz", "Borrador"]
lista_Utiles_copia = lista_Utiles.copy()
lista_Utiles.clear()
print("Lista original:", lista_Utiles)
print("Copia de la lista:", lista_Utiles_copia)

Tussi = ["keta", "Pilas", "Acidos"]
Tussi_copia = Tussi.copy()
Tussi.clear()
print("Lista original:", Tussi)
print("Copia de la lista:", Tussi_copia)

Lista original: []
Copia de la lista: ['rojo', 'verde', 'azul']
Lista original: []
Copia de la lista: ['Cuaderno', 'Lapiz', 'Borrador']
Lista original: []
Copia de la lista: ['keta', 'Pilas', 'Acidos']

count() Devuelve el número de elementos con el valor especificado

In [ ]:
Estudiantes = ["Anderson", "Pedro", "Anderson"]
print(Estudiantes.count("Anderson"))

Medicamentos = ["Acetaminofen", "Advil", "Acetaminofen"]
print(Medicamentos.count("Advil"))

Animales = ["Gato", "Perro", "Gato", "Gato"]
print(Animales.count("Gato"))

2
1
3

extend() Agrega los elementos de una lista (o cualquier iterable), al final de la lista actual

In [ ]:
lista_Supermercado = ["Arroz"]

print(lista_Supermercado)

lista_Supermercado.extend (["Leche"])

print(lista_Supermercado)

lista_Supermercado.extend (["Huevos"])
print(lista_Supermercado)

lista_Supermercado.extend (["Pan"])
print(lista_Supermercado)

['Arroz']
['Arroz', 'Leche']
['Arroz', 'Leche', 'Huevos']
['Arroz', 'Leche', 'Huevos', 'Pan']

index() Devuelve el índice del primer elemento con el valor especificado

In [ ]:
numero_de_carros = ["Audi", "Chevrolet", "Logan", "Tesla",]
print(numero_de_carros.index("Audi"))

numero_de_carros = ["Audi", "Chevrolet", "Logan", "Tesla",]
print(numero_de_carros.index("Chevrolet"))

numero_de_carros = ["Audi", "Chevrolet", "Logan", "Tesla",]
print(numero_de_carros.index("Tesla"))

0
1
3

insert() Agrega un elemento en la posición especificada

In [ ]:
mascotas = ["Perro", "Gato", "Conejo"]
mascotas.insert(1, "Pez")
print(mascotas)

mascotas.insert(2, "Hamster")
print(mascotas)

mascotas.insert(3, "Serpiente")
print(mascotas)

['Perro', 'Pez', 'Gato', 'Conejo']
['Perro', 'Pez', 'Hamster', 'Gato', 'Conejo']
['Perro', 'Pez', 'Hamster', 'Serpiente', 'Gato', 'Conejo']

pop() Elimina el elemento en la posición especificada

In [ ]:
mascotas = ["Perro", "Gato", "Conejo", "Raton", "Pez", "Hamster", "Serpiente", "Tortuga"]

mascotas.pop(0)
print(mascotas)

mascotas.pop(6)
print(mascotas)

mascotas.pop(3)
print(mascotas)

['Gato', 'Conejo', 'Raton', 'Pez', 'Hamster', 'Serpiente', 'Tortuga']
['Gato', 'Conejo', 'Raton', 'Pez', 'Hamster', 'Serpiente']
['Gato', 'Conejo', 'Raton', 'Hamster', 'Serpiente']

remove() Elimina el primer elemento con el valor especificado

In [ ]:
mascotas = ["Perro", "Gato", "Conejo", "Raton", "Pez", "Hamster", "Serpiente", "Tortuga"]

mascotas.remove("Perro")
print(mascotas)

mascotas.remove("Raton")
print(mascotas)

mascotas.remove("Tortuga")
print(mascotas)

['Gato', 'Conejo', 'Raton', 'Pez', 'Hamster', 'Serpiente', 'Tortuga']
['Gato', 'Conejo', 'Pez', 'Hamster', 'Serpiente', 'Tortuga']
['Gato', 'Conejo', 'Pez', 'Hamster', 'Serpiente']

reverse() Invierte el orden de la lista

In [ ]:
mascotas = ["Perro", "Gato", "Conejo", "Raton", "Pez", "Hamster", "Serpiente", "Tortuga"]
mascotas.reverse()
print(mascotas)

numero_de_carros = ["Audi", "Chevrolet", "Logan", "Tesla",]
numero_de_carros.reverse()
print(numero_de_carros)

Tussi = ["keta", "Pilas", "Acidos"]
Tussi.reverse()
print(Tussi)

['Tortuga', 'Serpiente', 'Hamster', 'Pez', 'Raton', 'Conejo', 'Gato', 'Perro']
['Tesla', 'Logan', 'Chevrolet', 'Audi']
['Acidos', 'Pilas', 'keta']

sort() Ordena la lista

In [ ]:
lista_numeros = [5, 4, 3, 2, 1]
lista_numeros.sort()
print(lista_numeros)

Receta = ["huevos", "pan", "leche", "azucar", "harina"]
Receta.sort()
print(Receta)

Apellidos_Estudiantes = ["Llanos", "Bocanegra", "Topaga"]
Apellidos_Estudiantes.sort()
print(Apellidos_Estudiantes)

[1, 2, 3, 4, 5]
['azucar', 'harina', 'huevos', 'leche', 'pan']
['Bocanegra', 'Llanos', 'Topaga']

# **Python Dictionary Methods**

clear() Elimina todos los elementos del diccionario

In [ ]:
Tipos_carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
print(Tipos_carros)
Tipos_carros.clear()
print(Tipos_carros)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
print(Gatos)
Gatos.clear()
print(Gatos)


Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
print(Estudiante)
Estudiante.clear()
print(Estudiante)

{'color': 'rojo', 'marca': 'Audi', 'modelo': 'R8'}
{}
{'raza': 'Amarillo', 'Genero': 'Macho', 'edad': '3.5 años'}
{}
{'Nombre': 'Anderson', 'Apellido': 'Robles', 'Edad': '20 años'}
{}

copy() Devuelve una copia del diccionario

In [ ]:
Tipos_carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
Tipos_carros_copia = Tipos_carros.copy()
print(Tipos_carros)
Tipos_carros.clear()
print(Tipos_carros)
Tipos_carros.copy()
print(Tipos_carros_copia)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
Gatos_copia = Gatos.copy()
print(Gatos)
Gatos.clear()
print(Gatos)
Gatos.copy()
print(Gatos_copia)

Estudiantes = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
Estudiantes_copia = Estudiantes.copy()
print(Estudiantes)
Estudiantes.clear()
print(Estudiantes)
Estudiantes.copy()
print(Estudiantes_copia)

{'color': 'rojo', 'marca': 'Audi', 'modelo': 'R8'}
{}
{'color': 'rojo', 'marca': 'Audi', 'modelo': 'R8'}
{'raza': 'Amarillo', 'Genero': 'Macho', 'edad': '3.5 años'}
{}
{'raza': 'Amarillo', 'Genero': 'Macho', 'edad': '3.5 años'}
{'Nombre': 'Anderson', 'Apellido': 'Robles', 'Edad': '20 años'}
{}
{'Nombre': 'Anderson', 'Apellido': 'Robles', 'Edad': '20 años'}

fromkeys() Devuelve un diccionario con las claves y el valor especificados

In [6]:
Animales = ("Gato", "Perro", "Conejo")
Cantidad = 5
Animales_Cantidad = dict.fromkeys(Animales, Cantidad)
print(Animales_Cantidad)

Comida =("Hambuerguesa", "Pizza", "Sushi")
Cantidad = 2
Comida_Cantidad = dict.fromkeys(Comida, Cantidad)
print(Comida_Cantidad)

Inventario = ("Pantalon", "Camisa", "Zapato")
Cantidad = 1
Inventario_Cantidad = dict.fromkeys(Inventario, Cantidad)
print(Inventario_Cantidad)

{'Gato': 5, 'Perro': 5, 'Conejo': 5}
{'Hambuerguesa': 2, 'Pizza': 2, 'Sushi': 2}
{'Pantalon': 1, 'Camisa': 1, 'Zapato': 1}

get() Devuelve el valor de la clave especificada

In [10]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
x = carros.get("marca")
print(x)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
x = Gatos.get("Genero")
print(x)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
x = Estudiante.get("Nombre")
print(x)

Audi
Macho
Anderson

items() Devuelve una lista que contiene una tupla para cada par de valores clave

In [12]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
x = carros.items()
print(x)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
x = Gatos.items()
print(x)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
x = Estudiante.items()
print(x)

dict_items([('color', 'rojo'), ('marca', 'Audi'), ('modelo', 'R8')])
dict_items([('raza', 'Amarillo'), ('Genero', 'Macho'), ('edad', '3.5 años')])
dict_items([('Nombre', 'Anderson'), ('Apellido', 'Robles'), ('Edad', '20 años')])

keys() Devuelve una lista que contiene las claves del diccionario

In [14]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
x = carros.keys()
print(x)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
x = Gatos.keys()
print(x)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
x = Estudiante.keys()
print(x)

dict_keys(['color', 'marca', 'modelo'])
dict_keys(['raza', 'Genero', 'edad'])
dict_keys(['Nombre', 'Apellido', 'Edad'])

pop() Elimina el elemento con la clave especificada

In [16]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
carros.pop("marca")
print(carros)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
Gatos.pop("Genero")
print(Gatos)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
Estudiante.pop("Edad")
print(Estudiante)

{'color': 'rojo', 'modelo': 'R8'}
{'raza': 'Amarillo', 'edad': '3.5 años'}
{'Nombre': 'Anderson', 'Apellido': 'Robles'}

popitem() Elimina el último par clave-valor insertado

In [18]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
carros.popitem()
print(carros)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
Gatos.popitem()
print(Gatos)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
Estudiante.popitem()
print(Estudiante)

{'color': 'rojo', 'marca': 'Audi'}
{'raza': 'Amarillo', 'Genero': 'Macho'}
{'Nombre': 'Anderson', 'Apellido': 'Robles'}

setdefault() Devuelve el valor de la clave especificada. Si la clave no existe: inserte la clave, con el valor especificado

In [20]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
x = carros.setdefault("marca", "Tesla")
print(x)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
x = Gatos.setdefault("Genero", "Hembra")
print(x)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
x = Estudiante.setdefault("Nombre", "Pedro")
print(x)

Audi
Macho
Anderson

update() Actualiza el diccionario con los pares clave-valor especificados

In [24]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
carros.update({"color": "Negro"})
print(carros)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
Gatos.update({"Nombre": "Konnor"})
print(Gatos)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
Estudiante.update({"Tecnica": "ADSO"})
print(Estudiante)

{'color': 'Negro', 'marca': 'Audi', 'modelo': 'R8'}
{'raza': 'Amarillo', 'Genero': 'Macho', 'edad': '3.5 años', 'Nombre': 'Konnor'}
{'Nombre': 'Anderson', 'Apellido': 'Robles', 'Edad': '20 años', 'Tecnica': 'ADSO'}

values() Devuelve una lista de todos los valores del diccionario

In [26]:
carros = {
    "color": "rojo",
    "marca": "Audi",
    "modelo": "R8"
}
x = carros.values()
print(x)

Gatos = {
    "raza": "Amarillo",
    "Genero": "Macho",
    "edad": "3.5 años"
}
x = Gatos.values()
print(x)

Estudiante = {
    "Nombre": "Anderson",
    "Apellido": "Robles",
    "Edad": "20 años"
}
x = Estudiante.values()
print(x)

dict_values(['rojo', 'Audi', 'R8'])
dict_values(['Amarillo', 'Macho', '3.5 años'])
dict_values(['Anderson', 'Robles', '20 años'])

# Métodos de tupla de Python

count() Devuelve la cantidad de veces que aparece un valor específico en una tupla

In [36]:
numeros_random = (3, 9, 15, 28, 4, 18, 29, 7, 3, 15, 4)
numeros = numeros_random.count(3)
print(numeros)

Animales = ("gato", "perro", "gato", "pajaro", "leon", "leon", "gato")
cuantos_animales = Animales.count("gato")
print(cuantos_animales)

numeros_x = (1, 22, 43, 4, 45, 4, 8, 8, 9, 20)
cuantos_numeros = numeros_x.count(20)
print(cuantos_numeros)

2
3
1

index() Busca en la tupla un valor específico y devuelve la posición donde se encontró

In [38]:
letras = ("a", "b", "c", "d", "e", "f", "g")
posicion_letra = letras.index("c")
print(posicion_letra)

Animales = ("gato", "perro", "gato", "pajaro", "leon", "leon", "gato")
posicion_gato = Animales.index("gato")
print(posicion_gato)

numeros_x = (1, 22, 43, 4, 45, 4, 8, 8, 9, 20)
posicion_numero = numeros_x.index(8)
print(posicion_numero)

2
0
6